/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.content {
  margin-top: 60px;
}

.form-signin {
  width: 600px;
  margin-left: auto;
  margin-right: auto;

}

/* Login Page */

body {
  padding-top: 30px;
  background-color: #FCFCFC;
}
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

.tool-cell {
  background-color: #FFFFFF;
  min-height: 120px;


  padding-top: 20px;
  padding-left: 10px;

  padding-right: 10px;
  padding-bottom: 4px;


  border:solid 1px #DDDDDD;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright:2px;
  -moz-border-radius-bottomleft:2px;
  -moz-border-radius-bottomright:2px;
  -webkit-border-top-left-radius:2px;
  -webkit-border-top-right-radius:2px;
  -webkit-border-bottom-left-radius:2px;
  -webkit-border-bottom-right-radius:2px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;

  -webkit-box-shadow: 1px 1px 2px 1px rgba(25,25,25,0.75);
  -moz-box-shadow: 1px 1px 2px 1px rgba(25,25,25,0.75);
  box-shadow: 1px 1px 2px 1px rgba(25,25,25,0.75);
}

.tool-cell:hover{
  background-color: #FBFBFB;
  cursor: pointer;
}

.tool-cell:active{
  background-color: #F0F0F0;
  cursor: pointer;
}

.tool-cell-header{
  font-size: 16pt;
}
.tool-cell-description{
  padding-top: 12px;
  font-size: 11pt;
}

.page-login{
  margin-top: 80px;
}

.navbar-default {
  background-color: #00b3ee;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}