<div class="container" ng-controller="HomeController">
    <div class="row">
        <div class="col-sm-12">
            <h1>Welcome to XCloud</h1>
            <p>The <a href="http://new-xkit-extension.tumblr.com/">New XKit Extension</a> cloud platform.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Utilities</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="tool-cell" ng-click="go('/migration')">
                <span class="glyphicon glyphicon-export tool-cell-header"></span>
                <span class="tool-cell-header">Migration</span><br>
                <span class="tool-cell-description">Migrate data from the old XCloud</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="tool-cell" ng-click="go('/dataport')">
                <span class="glyphicon glyphicon-transfer tool-cell-header"></span>
                <span class="tool-cell-header">Data Port</span><br>
                <span class="tool-cell-description">Port data to and from XCloud</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="tool-cell" ng-click="go('/status')">
                <span class="glyphicon glyphicon-cog tool-cell-header"></span>
                <span class="tool-cell-header">Status</span><br>
                <span class="tool-cell-description">View your current XCloud status.</span>
            </div>
        </div>
    </div>
</div>